
<div class="container" id="allin">


    <div class="service-card">
      <%= link_to services_path, class: "btn btn-secondary back-button" do %>
        <i class="fa fa-arrow-left"></i>
      <% end %>
      <div class="service-image fancy-hover">
        <%= image_tag @service.user.photo, alt: "Service Picture", class: "img-fluid" %>
      </div>


      <div class="service-content">
        <h1 class="service-title"><%= @service.user.full_name %></h1>
        <h2 class="service-subtitle"><%= @service.service_name %></h2>
        <p class="service-description"><%= @service.description %></p>
          <div class="social-buttons">
            <!-- Social Engagement -->
            <div class="social-engagement mt-4">
              <!-- Social Links -->
                <div class="social-media">
                  <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer" class="fa fa-facebook"></a>

                  <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-instagram"></i>
                  </a>

                  <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" class="fa fa-youtube"></a>
              </div>

              <!-- Engagement Buttons -->
            </div>
          </div>
      </div>
    </div>




    <div class="descriptionsection">
      <!-- More Details -->
        <div class="infosection">
          <h3>More Details</h3>
          <p><strong>Service:</strong> <%= @service.service_name %></p>
          <p><strong>Location:</strong> <%= @service.location %></p>

          <p><strong>Description:</strong> <%= @service.description %></p>
       </div>

        <!-- Booking Form Bar -->
        <div class="bookingbar">
          <%= render 'shared/booking_form' %>
        </div>
    </div>
        <br>
        <div class="reviewpage" >
            <h1 class="reviewtitle">add review</h1>
            <div class="reviewform">
              <div class="orangeform">
              <%= render 'reviews/form', review: @review %>
              </div>
              <div >
              <%= render 'reviews/list', reviews: @reviews %>
              </div>
            </div>
        </div>


      <div class="container">
        <h1>From My Gallery</h1>
        <p><%= Faker::Lorem.paragraph_by_chars %></p>
      </div>


    <div class="container border">
      <div class="row row-cols-3 border">
        <% @service.photos.each do |photo| %>
          <div class="col border">
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          </div>
        <% end %>
      </div>

    </div>
</div>
