<h1><%= @service.service_name %></h1>
<p><%= @service.description %></p>

<% if @bookings.any? %>
  <h2>Bookings</h2>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        Booked by: <%= booking.user.email %>
        from: <%= booking.start_date %> to <%= booking.end_date %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No bookings for this service yet.</p>
<% end %>

<%= render 'bookings/form', booking: @booking %>
