<h1><%= @service.service_name %></h1>
<p><%= @service.description %></p>

<% if @reservations.any? %>
  <h2>Reservations</h2>
  <ul>
    <% @reservations.each do |reservation| %>
      <li>
        Reserved by: <%= reservation.user.email %>
        from: <%= reservation.start_date %> to <%= reservation.end_date %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reservations for this service yet.</p>
<% end %>

<%= render 'reservations/form', booking: @booking %>
