<div class="container">

  <div class="back-button mb-3">
    <%= link_to "Back", services_path, class: "btn btn-secondary" %>
    <%= link_to "Reserve this Service", new_booking_path(service_id: @service.id), class: "btn btn-primary" %>
  </div>

  <div class="container service-card">
    <div class="row align-items-center">
      <div class="col-6 service-image d-flex justify-content-around">
        <%= image_tag @service.user.photo, alt: "Service Picture", class: "shadow-lg" %>
      </div>
      <div class="col-6 service-content">
        <h1 class="service-title"><%= @service.user.full_name %></h1>
        <h2 class="service-subtitle"><%= @service.service_name %></h2>
        <p class="text-muted"><%= @service.description %></p>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Social Engagement -->
    <div class="row mt-4">
      <!-- Social Links -->
      <div class="col-6 fs-1 d-flex justify-content-start">
        <%= link_to "#" do %>
          <i class="fa-brands fa-facebook social-links rounded-circle shadow m-4"></i>
        <% end %>
        <%= link_to '#' do %>
          <i class="fa-brands fa-instagram social-links rounded-circle shadow m-4"></i>
        <% end %>
        <%= link_to '#' do %>
          <i class="fa-brands fa-x-twitter social-links rounded-circle shadow m-4"></i>
        <% end %>
      </div>

      <!-- Engagement Buttons -->
      <div class="col-6 fs-1 d-flex justify-content-end">
        <button class="btn btn-light border rounded shadow m-4">❤️ <%= '6.2k' %></button>
        <button class="btn btn-light border rounded shadow m-4">💬 <%= '75' %></button>
        <button class="btn btn-light border rounded shadow m-4">👁️ <%= '2,135' %></button>
      </div>
    </div>
  </div>

  <!-- Booking Form Bar -->
  <div class="booking-form-bar">
    <%= render 'shared/booking_form' %>
  </div>

  <div class="container service-details p-5 my-4 d-flex justify-content-around">

    <!-- Pricing and Ratings -->
    <div class="row">
      <div class="col-6">
        <h3><%= @service.user.first_name %>'s Fee: <%= number_to_currency(@service.price, unit: '¥') %> / Per Hour</h3>
        <div class="ratings">
          <%= render partial: 'shared/star_rating', locals: { rating: rand(0.0..5.0).round(1) } %>
          (<%= rand(1..50) %> reviews)
        </div>

        <!-- More Details -->
        <div class="more-details mt-4">
          <h3>More Details</h3>
          <p><strong>Service:</strong> <%= @service.service_name %></p>
          <p><strong>Location:</strong> <%= @service.location %></p>
          <p><strong>Not Included:</strong> <%= "lorem ipsum" %></p>
          <p><strong>Included:</strong> <%= "lorem ipsum" %></p>
          <p><strong>Description:</strong> <%= @service.description %></p>
        </div>
      </div>

      <div class="col-6">
        <%= image_tag "friends/friend_1.jpg", alt: "Friend Image", width: 400, height: 300, crop: :fill %>
      </div>

    </div>

  </div>
</div>

<div class="container">
  <h1>From My Gallery</h1>
  <p><%= Faker::Lorem.paragraph_by_chars %></p>
  <div class="container border">
    <div class="row row-cols-3 border">
      <% @service.photos.each do |photo| %>
        <div class="col border">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      <% end %>
  </div>


</div>

  <%# reviews renders %>
  <br>
  <div>
    <p>add review</p>
    <%= render 'reviews/form', review: @review %>
    <%= render 'reviews/list', reviews: @reviews %>
  </div>

</div>
