<div class="service-details">
  <div class="picture">
    <%= image_tag @service.picture_url, alt: "Service Picture" %>
  </div>
  <div class="text-details">
    <strong><%= @service.user.full_name %></strong>
    <br>
    <strong><%= @service.service_name %></strong>
    <p class="text-muted"><%= @service.description %></p>
    <%= link_to "Checkout", new_booking_path(service_id: @service.id), class: "btn btn-primary" %>
  </div>
</div>
