<div class="container-fluid border">
  <div class="row border">
    <div class="col-12 border">
      <div class="dropdown d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="d-flex align-items-center">
          <i class="fa-regular fa-bell"></i>
        </div>

        <button class="btn btn-light dropdown-toggle border m-md-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="row">
            <div class="col">
              <img class="avatar rounded" src="https://kitt.lewagon.com/placeholder/users/ssaunier"/>
            </div>
            <div class="col">
              Welcome Back, <br> <strong>User!</strong>
            </div>
          </div>
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Account</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="col-4 border">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
    <div class="col-8 border">.col-8<br>Subsequent columns continue along the new line.</div>
  </div>
</div>




<hr>

<h1>Bookings Index</h1>

<% @bookings.each do |booking| %>
  <ul>
    <li><%= booking.user.full_name %></li>
    <li><%= booking.service.service_name %></li>
    <li><%= booking.start_date %></li>
    <li><%= booking.end_date %></li>
    <li><%= booking.comment %></li>
    <li><%= booking.status %></li>
  </ul>
<% end %>


<!--
Steps to Design:
1)
2) Bootstrap Accordion/Dropdown 4 Current User
-->

<div class="accordion col-2" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Welcome Back, User!
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong>
      </div>
    </div>
  </div>
</div>
