<div class="simple-form-booking">
  <%= simple_form_for [@service, @booking], wrapper: :vertical_form do |form| %>
    <div class="row form-div">
      <div class="col-4">
      <h3>Pickup Location</h3>
        <%= form.input :pickup_location, required: true, input_html: { name: 'booking[pickup_location]', placeholder: 'Enter pickup location', class: 'input-field' } %>
      </div>
      <div class="col-1">
        <h3>Pickup Date</h3>
        <%= form.input :pickup_date, as: :string, required: true, input_html: { name: 'booking[pickup_date]', placeholder: 'Pickup Date', data: { controller: 'datepicker' } } %>
      </div>
      <div class="col-1">
      <h3>Pickup Time</h3>
        <%= form.input :pickup_time, as: :string, required: true, input_html: { name: 'booking[pickup_time]', placeholder: 'Pickup Time', data: { controller: 'timepicker' } } %>
      </div>
      <div class="col-1">
        <h3>Dropoff Time</h3>
        <%= form.input :dropoff_date, as: :string, required: true, input_html: { name: 'booking[dropoff_date]', placeholder: 'Drop-off Date', data: { controller: 'datepicker' } } %>
      </div>
      <div class="col-2">
        <h3>Dropoff Time</h3>
        <%= form.input :dropoff_time, as: :string, required: true, input_html: { name: 'booking[dropoff_time]', placeholder: 'Drop-off Time', data: { controller: 'timepicker' } } %>
      </div>
      <div class="col-1">
        <h3>Location</h3>
        <%= form.input :dropoff_location, required: true, label: 'Location', input_html: { class: 'input-field', placeholder: 'tokyo' } %>
      </div>
      <div class="col-1">
        <%= form.button :submit, 'Search', class: 'search-button' %>
      </div>
    </div>
  <% end %>
</div>
