<%= simple_form_for [@service, @booking], wrapper: :vertical_form do |form| %>
  <h2>Pick Up Location</h2>
  <div class="field">
    <%= form.input :pickup_location, placeholder: 'Enter pickup location' %>
  </div>

  <h2>Pick Up Date and Time</h2>
  <div class="field">
    <%= form.input :pickup_date, as: :date, placeholder: 'Choose date', input_html: { class: 'datepicker' } %>
  </div>
  <div class="field">
    <%= form.input :pickup_time, as: :time, placeholder: 'Choose time' %>
  </div>

  <h2>Drop-off Date and Time</h2>
  <div class="field">
    <%= form.input :dropoff_date, as: :date, placeholder: 'Choose date', input_html: { class: 'datepicker' } %>
  </div>
  <div class="field">
    <%= form.input :dropoff_time, as: :time, placeholder: 'Choose time' %>
  </div>

  <h2>Location</h2>
  <div class="field">
    <%= form.input :dropoff_location, placeholder: 'Enter drop-off location' %>
  </div>

  <div class="actions">
    <%= form.button :submit, 'Checkout', class: 'orange-button' %>
  </div>
<% end %>
