<div class="simple-form-booking">
  <%= simple_form_for [@service, @booking], wrapper: :vertical_form do |form| %>
    <div class="row form-div">
      <div class="col-1 mx-1 px-0">
        <h3>Pickup Date</h3>
        <%= form.input :start_date, as: :string, required: true, input_html: { name: 'booking[start_date]', placeholder: 'DD/MM/YYYY', data: { controller: 'datepicker' } } %>
      </div>
      <div class="col-1 mx-1 px-0">
        <h3>Pickup Time</h3>
        <%= form.input :start_date, as: :string, required: true, input_html: { name: 'booking[start_date]', placeholder: 'HH:MM', data: { controller: 'timepicker' } } %>
      </div>
      <div class="col-1 mx-1 px-0">
        <h3>Dropoff Time</h3>
        <%= form.input :end_date, as: :string, required: true, input_html: { name: 'booking[end_date]', placeholder: 'DD/MM/YYYY', data: { controller: 'datepicker' } } %>
      </div>
      <div class="col-1 mx-1 px-0">
        <h3>Dropoff Time</h3>
        <%= form.input :end_date, as: :string, required: true, input_html: { name: 'booking[end_date]', placeholder: 'HH:MM', data: { controller: 'timepicker' } } %>
      </div>
      <div class="col-1 mx-1 px-0">
        <%= form.button :submit, 'Reserve', class: 'search-button' %>
      </div>
    </div>
  <% end %>
</div>
