<%= simple_form_for [@service, @booking], wrapper: :vertical_form do |form| %>
  <h2>Pick Up Location</h2>
  <div class="field">
    <%= form.input :pickup_location, placeholder: 'Enter pickup location' %>
  </div>

  <h2>Pick Up Date and Time</h2>
  <div class="pick-up">
    <%= form.input :pickup_date, as: :string, placeholder: 'Pickup Date', input_html: { data: { controller: 'datepicker' } } %>
    <%= form.input :pickup_time, as: :string, placeholder: 'Pickup Time', input_html: { data: { controller: 'timepicker' } } %>
  </div>

  <h2>Drop-off Date and Time</h2>
  <div class="drop-off">
    <%= form.input :dropoff_date, as: :string, placeholder: 'Drop-off Date', input_html: { data: { controller: 'datepicker' } } %>
    <%= form.input :dropoff_time, as: :string, placeholder: 'Drop-off Time', input_html: { data: { controller: 'timepicker' } } %>
  </div>

  <h2>Location</h2>
  <div class="field">
    <%= form.input :dropoff_location, placeholder: 'Enter drop-off location' %>
  </div>

  <div class="actions">
    <%= form.button :submit, 'Checkout', class: 'orange-button' %>
  </div>
<% end %>
