<div class="row border">

  <div class="dropdown d-grid gap-2 d-md-flex justify-content-end">
    <div class="d-flex align-items-center">
      <i class="fa-regular fa-bell"></i>
    </div>
    <button class="btn btn-light dropdown-toggle border m-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <img class="avatar rounded align-middle me-2" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="User avatar" />
        Welcome back, <strong><%= current_user.first_name %></strong>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Account</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </div>

    <!-- Iterate over services -->
  <% @services.each do |service| %>
    <div class="card m-4" style="width: 18rem;">
      <div class="card-body">
        <h6 class="card-title text-muted"><%= service.category %></h6>
        <h5 class="card-subtitle mt-2"><%= number_to_currency(service.price) %></h5>
      </div>
    </div>
  <% end %>

  <!-- Add Service Card -->
  <%= link_to new_service_path, class: "card m-4", style: "width: 18rem;" do %>
    <div class="card-body">
      <h6 class="card-title text-muted">Add Service</h5>
      <h5 class="card-subtitle mt-2"></h6>
    </div>
  <% end %>

<h3 class="text-muted">Service Requests</h3>

  <div>
    <button type="button" class="btn btn-light rounded-pill border">All</button>
    <button type="button" class="btn btn-light rounded-pill border">Complete</button>
    <button type="button" class="btn btn-light rounded-pill border">Pending</button>
    <button type="button" class="btn btn-light rounded-pill border">Rejected</button>
  </div>


<div class="row">
  <table class="table table-hover table-borderless mt-4">
    <thead class="border-bottom">
      <tr>
        <th scope="col">Service</th>
        <th scope="col">Date Start</th>
        <th scope="col">Date End</th>
        <th scope="col">Price</th>
        <th scope="col">Total Hours</th>
        <th scope="col">Confirm</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.bookings_as_service.each do |booking| %>
        <tr>
          <th scope="row"><%= booking.service.service_name %></th>
          <td><%= booking.start_date.strftime("%Y-%m-%d") %></td>
          <td><%= booking.end_date.strftime("%Y-%m-%d") %></td>
          <td><%= number_to_currency(booking.service.price) %></td>
          <td>Hours</td>
          <td class="d-flex">
            <% if booking.pending? %>
              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: {value: 'booked'} %>
                <%= f.submit 'Book', class: 'btn btn-success' %>
              <% end %>
              <%= simple_form_for booking do |f| %>
                <%= f.input :status, as: :hidden, input_html: {value: 'declined'} %>
                <%= f.submit 'Decline', class: 'btn btn-danger' %>
              <% end %>
            <% else %>
              <p class='booking-tag'><%= booking.status %></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>
