<%= simple_form_for(@service, html: { multipart: true }) do |f| %>
  <%= f.input :service_name, label: 'Service Name' %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :category, collection: Service::SERVICE_CATEGORIES, label: 'Category' %>
  <%= f.input :price, label: 'Price' %>
  <%= f.input :location, label: 'Location' %>
  <% if @service.user.photo.attached? %>
    <%= image_tag @service.user.photo, alt: "Service Picture", class: "img-fluid" %>
  <% else %>
    <p> user image</p>
  <% end %>
  <%= f.button :submit, 'Create Service' %>
<% end %>
