
<div class="container">
  <div class="homeimage">
        <h1 class="shine">friendship</h1>
        <h2 class="shine">can be beneficial</h2>
    </div>
      <section class="featured-people">
            <div class="charecters">
               <%= render "svgs/homegirl" %>
            <div class="charecterstext">
              <h1 >Want to meet your new best friend?</h1>
              <br>
              <h4>1: Pick an experience that you wish to share.
                <br>
                <br>
                  2: Pick a person you want to share in the experience.
                <br>
                <br>
                  3: Send a request schedule your meeting.
                </h4>
            </div>
          </div>

    </div>
    <%# 6 dives for services %>
    <div class="servicetitle">
      <h1>some of our service </h1>
    </div>

    <div class="services1">
      <%# delite and edit dives as you need  %>
          <div>
                <%= link_to services_path + "?query=Drink+Buddy" do %>
                  <%= image_tag "drinks/drink_1.jpg", alt: "Drinking Image", width: 400, height: 300, crop: :fill %>
                  <span class="service-name">Drink Buddy</span>
                <% end %>
          </div>
          <div>
            <%= link_to services_path + "?query=Coding+Buddy" do %>
              <%= image_tag "codes/code_1.jpg", alt: "Coding Image", width: 400, height: 300, crop: :fill %>
              <span class="service-name">Coding buddy</span>
            <% end %>
          </div>
            <div>
            <%= link_to services_path + "?query=Animal+Buddy" do %>
              <%= image_tag "animals/animal_1.jpg", alt: "Animal Image", width: 400, height: 300, crop: :fill %>
              <span class="service-name">Animal Buddy</span>
            <% end %>
            </div>
            <div>
            <%= link_to services_path + "?query=Sports+Buddy" do %>
              <%= image_tag "sports/sport_1.jpg", alt: "Sport Image", width: 400, height: 300, crop: :fill %>
              <span class="service-name">Sports Buddy</span>
            <% end %>
            </div>
            <div>
            <%= link_to services_path + "?query=Cult+Buddy" do %>
              <%= image_tag "cults/cult_1.jpg", alt: "Cult Image", width: 400, height: 300, crop: :fill %>
              <span class="service-name">Cult Buddy</span>
            <% end %>
            </div>
            <div>
            <%= link_to services_path + "?query=Emo+Buddy" do %>
              <%= image_tag "emos/emo_1.jpg", alt: "Emo Image", width: 400, height: 300, crop: :fill %>
              <span class="service-name">Emo Buddy</span>
            <% end %>
            </div>


    </div>

  </section>
  <!-- Repeat the above div for each person -->


</div>
